body,
html {
  height: 100%;
}

div.sertiz {
  position: absolute;
  top: 530px;
  left: 86px;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.sertiz p {
  font-family: Lato, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  margin-top: 16px;
}
/*----------------WE MAKE SMART DESIGN - BLOCK-------------------------*/
.wmsd span {
  /*wmsd-we make smart design*/
  display: inline-block;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  padding-left: 29px;
  padding-top: 49px;
  padding-right: 0;
  padding-bottom: 42px;
  border: 1px solid white;
}
.wmsd span:nth-of-type(1) {
  background-color: #ffffff;
  padding-right: 34px;
  color: #f1ad1d;
}
.wmsd span:nth-of-type(2) {
  background-color: rgba(0, 0, 0, 0.3);
  padding-right: 56px;
}
.bgimg1,
.bgimg2,
.bgimg3,
.bgimg4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*----------------BLOCK WITH IMG 1--------------------------*/
.bgimg1 {
  background-image: url("../img/bg1.jpg");
  min-height: 100%;
  padding-bottom: 145px;
} /*----------------------BLOCK UNDER IMG------------------*/
.text-black {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.about {
  /*height: 380px;*/
  text-align: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about span {
  display: inline-block;
  font-family: Lato, sans-serif;
  color: #4d4943;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 52px;
}
.line {
  position: absolute;
  right: 48%;
  background-color: #f1ad1d;
  width: 60px;
  height: 3px;
}
/*----------------BLOCK WITH IMG 2--------------------------*/
.bgimg2 {
  background-image: url("../img/bg2.jpg");
  width: 100%;
  height: 380px;
  /*min-height: 400px;*/
}
.caption {
  text-align: center;
  padding-top: 150px;
  margin-bottom: 60px;
}
.text-white {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.text-orange {
  font-family: Montserrat, sans-serif;
  color: #f1ad1d;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

/*----------------BLOCK WITH IMG 3--------------------------*/
.bgimg3 {
  background-image: url("../img/bg3.jpg");
  width: 100%;
  height: 475px;
}

.logo {
  display: grid;
  grid-template-columns: 207px 135px 172px 141px;
  grid-column-gap: 65px;
  justify-content: center;
  align-items: baseline;
  padding-top: 58px;
}
/*----------------BLOCK WITH IMG 4--------------------------*/
.bgimg4 {
  background-image: url("../img/bg4.jpg");
  width: 100%;
  height: 485px;
}
.small-white {
  font-family: OpenSans, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.small-orange {
  font-family: OpenSans, sans-serif;
  color: #f1ad1d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.line-white {
  position: absolute;
  left: 41%;
  background-color: #ffffff;
  width: 281px;
  height: 3px;
}
.cap {
  text-align: center;
  margin-bottom: 44px;
  padding-top: 60px;
}
